[Desktop Entry]
Type=Application
Name=Screen Sharing
Comment=Self-hosted group screen sharing
Exec=screenshare-avalonia
Icon=screen-sharing
Terminal=false
Categories=AudioVideo;Video;
StartupNotify=true
